version: "3.8"

services:
  web:
    build: .
    ports:
      # Map port 5000 on the host to port 5000 in the container
      - "5000:5000"
    networks:
      - counter-net
    volumes:
      # Mount the src directory into the container for live code reloading during development
      - ./src:/app

  redis:
    image: "redis:alpine"
    networks:
      - counter-net

networks:
  counter-net: